@font-face {
    font-family: gilroy;
    src: url(../fonts/Gilroy-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy-Bold.ttf);
    font-weight: bold;
}

/* :root {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

:root {
    font-family: Gilroy, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu {
    padding: 1rem;
    gap: 1rem;
    display: grid;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 2rem 0;
    text-align: -webkit-center;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    text-align: -webkit-center;
    text-align: center;
}

.card {
    border-radius: 8px;
    border: 1px solid black;
    backdrop-filter: blur(16px);

    img {
        max-width: 100%;
        object-fit: cover;
    }

    .image {
        border-radius: 8px 8px 0 0 ;
        max-width: 100%;
        padding-top: calc(1 / 1) * 100%;
        background-size: cover;
    }

    .text-area {
        padding: 0 .5rem;

        .centered {
            font-weight: 700;
            justify-self: center;
            text-align: center;
            margin: .5rem;
        }
    }

}

// X-Small devices (portrait phones, less than 576px)
@media (min-width: 1px) {
    .col-sm-2 {
        grid-template-columns: 1fr 1fr;
    }
}
// Medium devices (tablets, less than 992px)
@media (min-width: 992px) {
    .col-md-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}