:root {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu {
    padding: 1rem;
    gap: 1rem;
    display: grid;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    justify-self: center;
    margin: 2rem 0;
}

.card {
    border-radius: 8px;
    border: 1px solid black;

    img {
        max-width: 100%;
        object-fit: cover;
    }

    .image {
        border-radius: 8px 8px 0 0 ;
        max-width: 100%;
        padding-top: calc(1 / 1) * 100%;
        background-size: cover;
    }

    .text-area {
        padding: 0 .5rem;

        .centered {
            font-weight: 700;
            justify-self: center;
            text-align: center;
            margin: .5rem;
        }
    }

}

// X-Small devices (portrait phones, less than 576px)
@media (min-width: 1px) {
    .col-sm-2 {
        grid-template-columns: 1fr 1fr;
    }
}

// Small devices (landscape phones, less than 768px)
/* @media (min-width: 768px) {
    .col-sm-2 {
        grid-template-columns: 1fr 1fr;
    }
} */

// Medium devices (tablets, less than 992px)
@media (min-width: 992px) {
    .col-md-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

// Large devices (desktops, less than 1200px)
//@media (min-width: 1200px) { ... }

// X-Large devices (large desktops, less than 1400px)
/* @media (mim-width: 1400px) {
    .col-md-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
} */